@font-face {
    font-family: 'NotoSerifLao-Regular';
  src: url("fonts/NotoSerifLao-Regular.ttf");
  src: url("fonts/NotoSerifLao-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }

  html,body,div,p,table,tr,td {
  font-family: "NotoSerifLao-Regular";
  margin: 0;
  font-size: 1rem;
}

h1,h2,h3,h4,h5{
  font-family: "NotoSerifLao-Regular";
}

table, td,table{
  white-space: normal;
}


